/proc/cpuinfo
/proc/irq/*/*
/proc/loadavg
/proc/net/dev
/proc/net/sockstat{,_rhe4}
/proc/net/tcpstat
/proc/self/net/netstat
/proc/self/{stat,io,numa_maps}
/proc/softirqs
/proc/spl/kstat/zfs/arcstats
/proc/stat
/proc/sys/fs/file-nr
/proc/version
/proc/vmstat
